.scren {
  background-color: $color-black;
  height: $screen-hight;
  width: 414px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

  & p{
    margin: 0px;
    padding-right: 5px;
    color: white;
    font-size: 60px;
    text-align: right;
  }

  & .operation {
    height: 50%;
    width: 100%;
  }
  & .currentNB {
    height: 50%;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .scren {
    width: $screen-width;
  }
}
