@import "./utils/color";
@import "./utils/sizes";
@import "./layouts/scren";
@import "./layouts/cleBoard";
@import "./components/buton";

#root {
  .app {
    width: 100%;
    height: 100vh;
    background-color: $color-darkGray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
  }
}
